 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Users</h1>
    <hr>
    <h2>Add User</h2>

    <form action="#" th:action="@{/save}" th:object="${user}" method="POST">
        <label>Name</label>
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4">
        <label>Last name</label>
        <input type="text" th:field="*{lastName}" placeholder="Last name" class="form-control mb-4 col-4">
        <label>Age</label>
        <input type="text" th:field="*{age}" placeholder="Age" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to User List</a>
</div>
</body>

</html>